.flex-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
    .filter-wrap{
        width: 20%;
        background-color: black;

    }
    .product-List{
        display: block;
        width: 80%;
    }
    .product-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}